
#cvs{
  z-index: 100;
  object-fit: cover;
  position: absolute;
  pointer-events: none;
  
}
svg{
  height:700px;
}

@media (max-width: 1024px) {
  svg{
    height:580px;
  }
}



path {
  fill: transparent;
  cursor: pointer;
  
}
rect {
  cursor: pointer;
}

.st0 {
  fill: white;
  
}
.st4 {
  opacity: 0.9;
  fill: url(#img1);
}
.st5 {
  stroke: white;
  opacity: 0.8;
  fill: url(#img1);
}
.st6 {
  opacity: 0.6;
  fill: none;
}

.st9 {
  clip-path: url(#SVGID_4_);
  fill: url(#img1);
}
.st10 {
  opacity: 0.6;
  fill: white;
  enable-background: new;
  
}

.st11 {
  clip-path: url(#SVGID_6_);
}
.st12 {
  clip-path: url(#SVGID_8_);
}
.st14 {
  clip-path: url(#SVGID_10_);
}

.st17 {
  clip-path: url(#SVGID_12_);
}
