.carousel__btn_img_team {
  color: white;
  font-size: 48px;
  width: 48px;
  height: 48px;
  -webkit-text-stroke: 1px #495057;
}
.carousel__btn_img_player {
  color: white;
  font-size: 40px;
  width: 40px;
  -webkit-text-stroke: 1px #495057;
  height: 40px;
}
