.carousel__btn_img_team {
  color: white;
  font-size: 32px;
  width: 32px;
  height: 32px;
  -webkit-text-stroke: 1px #495057;
}
.carousel__btn_img_player {
  color: white;
  font-size: 28px;
  width: 28px;
  -webkit-text-stroke: 1px #495057;
  height: 28px;
}
