* {
  font-family: "Fjalla One";
}

#myObj {
  height: 700px;
  /* width: 50vw; */
}

canvas {
  /* height: 70vh;
  width: 70vh; */
  /* background-color: white; */
  /* opacity: 0.3; */
  position: absolute;
  pointer-events: none;
}

img {
  color: black;
}
path {
  fill: transparent;
  /* transition: 0.5s; */
  cursor: pointer;
}
rect {
  cursor: pointer;
}

.title_area {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  font-size: 30px;
}

.st0 {
  /* fill: url(#img1); */
  fill: white;
}
.st1 {
  /* clip-path: url("https://firebasestorage.googleapis.com/v0/b/basketball-record.appspot.com/o/forWebsite%2Fwood.jpg?alt=media&token=e98450a0-5449-4182-86e2-ce7854a61d0b"); */
}
.st2 {
  fill: white;
  /* fill: url(#img1); */
}
.st3 {
  fill: url(#);
}
.st4 {
  opacity: 0.9;
  fill: url(#img1);
  /* fill: #be9d53; */
  enable-background: new;
}
.st5 {
  stroke: white;
  opacity: 0.8;
  fill: url(#img1);
  /* fill: #be9d53; */
  enable-background: new;
}
.st6 {
  opacity: 0.6;
  fill: none;
  enable-background: new;
}
.st7 {
  fill: white;
}

.st8 {
  fill: white;
}
.st9 {
  clip-path: url(#SVGID_4_);
  /* fill: url(#img1); */
}
.st10 {
  opacity: 0.6;
  fill: white;
  enable-background: new;
}

.st101 {
  /* fill: transparent; */
  /* opacity: 0.8; */
  /* fill: url(#img1); */
  /* fill: #be9d53; */
  enable-background: new;
}
.st11 {
  /* clip-path: url(#SVGID_6_); */
}
.st12 {
  clip-path: url(#SVGID_8_);
}
.st13 {
  fill: white;
}
.st14 {
  clip-path: url(#SVGID_10_);
}
.st15 {
  fill: white;
  cursor: pointer;
}
.st16 {
  fill: white;
}
.st17 {
  clip-path: url(#SVGID_12_);
}
.st18 {
  fill: white;
}
