div {
  /* border: seagreen 1px solid; */
}
<CarousellContainer>
{gameTime?.map((time) => (
  <div
    key={time}
    style={{
      display: "flex",
      flexWrap: "nowrap",
      alignItems: "center",
    }}
  >
    <TimeBox
      gameTimeCount={gameTimeCount[time]}
      time={time}
      weekday={weekday[time]}
    />

    {gameList?.map((game) =>
      Object.keys(game)[0].slice(0, 10) === time ? (
        <div key={Object.keys(game)}>
          {/* {console.log("ggg", game)} */}
          {/* {console.log("aaa", Object.keys(game)[0])} */}
          {game[Object.keys(game)[0]].gameStatus === "coming" ? (
            <Link
              to={`coming-soon/${Object.keys(game)[0]}`}
              key={game}
            >
              <BoxComing data={game[Object.keys(game)[0]]} />
            </Link>
          ) : game[Object.keys(game)[0]].gameStatus === "live" ? (
            <Link to={`live-now/${Object.keys(game)[0]}`} key={game}>
              <BoxEnd data={game[Object.keys(game)[0]]} />
            </Link>
          ) : (
            <Link to={`past-game/${Object.keys(game)[0]}`} key={game}>
              <BoxEnd data={game[Object.keys(game)[0]]} />
            </Link>
          )}
        </div>
      ) : null
    )}
  </div>
))}
</CarousellContainer>